@using Teste_de_conhecimento_Campos_Dealer.Models
@using Teste_de_conhecimento_Campos_Dealer.Models.Entities
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model dynamic

<h1>Adicionar Venda</h1>
@if(Model.cliente.Count > 0 && Model.produto.Count > 0){
    <form method="post">
        <div class="mt-3">
            <select id="cliente" class="form-select" aria-label="Default select example" name="idClienteId" required>
                <option selected>Selecione o cliente.</option>
                @foreach (Cliente cliente in Model.cliente)
                {
                    <option value=@cliente.Id>@cliente.Name</option>
                }
            </select>
        </div>

        <div class="mt-3">
            <select id="produtos" onchange="atualizarValor()" class="mt-3 form-select" aria-label="Default select example" required name="idProdutoId" required>
                <option selected>Selecione o produto.</option>
                @foreach (Produto produto in Model.produto)
                {
                    <option value=@produto.Id>@produto.dscProduto</option>
                }
            </select>
        </div>

        <div class="mt-3">
            <label class="form-label">Valor unitário</label>
            <input type="hidden" class="form-control" value="" id="valor_unitario" name="vlrUnitarioVenda" required />
        </div>

        <div class="mt-3">
            <label class="form-label">Quantidade </label>
            <input type="number" class="form-control" id="quantidade" onchange="valorTotal()" required name="qtdVenda" />
        </div>

        <div class="mt-3">
            <label class="form-label">Valor Total da Venda </label>
            <input type="hidden" class="form-control" value="" id="total" name="vlrTotalVenda" required />
        </div>

        <div class="mt-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5>Valor Total: R$</h5><h5 id="card-valor-total" class="card-title">0,00</h5>
                    <p>Valor unitário: R$</p><p id="card-valor-unitario" class="card-text">0,00</p>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </form>
    @section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function atualizarValor() {
            var selectBox = document.getElementById("produtos");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            // Faz uma requisição AJAX para buscar o valor do produto selecionado
            $.ajax({
                type: "GET",
                url: "/Produto/Search",
                dataType: "json",
                data: { id: selectedValue },
                success: function (res) {
                    console.log(res.value.vlrUnitário)
                    let elem = document.getElementById("valor_unitario")
                    let card = document.getElementById("card-valor-unitario")
                    card.innerText = `Valor unitário: R$ ${res.value.vlrUnitário}`
                    elem.value = res.value.vlrUnitário
                },
                error: function (req, status, erro) {
                    console.log(erro)
                }
            });
        }
        function valorTotal() {
            let valorUni = document.getElementById("valor_unitario").value.replace(",", '.')
            document.getElementById("card-valor-unitario").innerHTML = valorUni
            let qtd = document.getElementById("quantidade").value
            let total = Number(valorUni) * Number(qtd)

            // Formatar o valor total para exibição
            let valorFormatado = total.toFixed(2).replace('.', ',').replace(/(\d)(?=(\d{3})+\,)/g, '$1.')

            let elem = document.getElementById("total")
            let cardTotal = document.getElementById("card-valor-total")

            // Atualizar os elementos DOM com o valor formatado
            elem.value = 'R$ ' + valorFormatado
            cardTotal.innerText = elem.value
        }
    </script>
    }
}
else
{
    <h1>Para adicionar uma venda é necessário ter um cliente e um produto cadastrado.</h1>
}



