@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model Teste_de_conhecimento_Campos_Dealer.Models.Entities.Cliente

<h1>Edit Student</h1>

@if (Model is null)
{
    <p>No student was found with this Id</p>
}
else
{
    <form method="post">
        <div class="mt-3">
            <label class="form-label">Id</label>
            <input type="text" class="form-control" asp-for="Id" readonly />
        </div>

        <div class="mt-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" asp-for="Name" />
        </div>

        <div class="mt-3">
            <label class="form-label">Cidade</label>
            <input type="text" class="form-control" asp-for="City" />
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <button type="submit" class="btn btn-danger ms-3" asp-action="Delete" asp-controller="Cliente">Deletar</button>
        </div>
    </form>
}